#
# Sample Mackup configuration file
#

# You can specify the storage type Mackup will use to store your configuration
# files.
# For now you have 3 options: "dropbox", "google_drive" and "file_system".
# If none is specified, Mackup will try to use the default: "dropbox".
# With the "dropbox" storage engine, Mackup will automatically figure out your
# Dropbox folder.
[storage]
engine = dropbox

# If you choose the "google_drive" storage engine instead, Mackup will figure
# out where your Google Drive is and store your configuration files in it.
# [storage]
# engine = google_drive

# If you choose the "copy" storage engine, Mackup will figure
# out where your Copy folder is and store your configuration files in it.
# [storage]
# engine = copy

# If you want to specify another directory, you can use the "file_system"
# engine and Mackup won't try to detect any path for you: it will store your
# files where you explicitly told him to, using the "path" setting.
# The "path" can be absolute (from the / of your drive) or relative to your
# home directory.
# The "path" setting is mandatory when using the "file_system" engine.
# Note: you don't need to escape spaces or wrap the path in quotes.
# [storage]
# engine = file_system
# path = some/folder/in/your/home
# # or
# path = /some/folder/in/your/root
# # or
# path = /some path/in/your/root

# You can customize the directory name in which Mackup stores your file. By
# default, if not specified, Mackup creates a "Mackup" directory in the storage
# engine you chose, e.g. "~/Dropbox/Mackup".
directory = Mackup

# List of applications you want to explicitly sync
# One application name per line
# If this list is empty, Mackup will try to sync all the supported
# applications.
#
# To see a list of supported application names, launch mackup list
# Use the names listed below.
#
# For example, to sync Irssi, Ventrilo and XEmacs, add:
[applications_to_sync]
irssi
ventrilo
xemacs

# List of applications you want to ignore
# One application name per line
# If an application is ignored, it will be ignored even if it's been explicitly
# allowed in the [Allowed Applications].
#
# To see a list of supported application names, launch mackup list
# Use the names listed below.
#
# For example, to not sync SSH and Adium, add:
[applications_to_ignore]
ssh
adium
