name: Test installs
on:
  push:
    branches:
      - master
  pull_request:

jobs:

  install-on-linux:
    strategy:
      matrix:
        os:
          - "ubuntu-20.04"
          - "ubuntu-22.04"
          - "ubuntu-24.04"
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: ${{ matrix.os }}
    container: python:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - run: pip install .
      - run: mackup --help

  install-on-macos:
    strategy:
      matrix:
        os:
          - macos-13
          - macos-14
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: pip install .
      - run: mackup --help
