name: mypy
on:
  push:
    branches:
      - master
  pull_request:

jobs:

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.9"
      - run: uv sync --all-extras --dev
      - run: uv run mypy mackup/
