name: Run tests
on:
  - pull_request
  - push

jobs:

  nose-2_7:
    runs-on: ubuntu-latest
    container: python:2.7
    steps:
      - run: pip install docopt six nose
      - uses: actions/checkout@v2
      - run: nosetests --with-coverage --cover-tests --cover-inclusive --cover-branches --cover-package=mackup

  nose:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    container: python:${{ matrix.python-version }}
    steps:
      - run: pip install pipx
      - run: pipx ensurepath
      - run: pipx install poetry
      - uses: actions/checkout@v2
      - run: make test
